@model WebApplication1.Models.CourseStudent
@{
    ViewData["Title"] = "Delete CourseStudent";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Delete CourseStudent</h1>
<hr />

<h3>Are you sure you want to delete this?</h3>
<dl class="row">
    <dt class="col-sm-3">Course</dt>
    <dd class="col-sm-9">@Model.Course.Name</dd>

    <dt class="col-sm-3">Student</dt>
    <dd class="col-sm-9">@Model.Student.Name</dd>

    <dt class="col-sm-3">@Html.DisplayNameFor(m => m.Degree)</dt>
    <dd class="col-sm-9">@Html.DisplayFor(m => m.Degree)</dd>
</dl>

<form asp-action="Delete">
    <input type="hidden" asp-for="Id" />
    <button type="submit" class="btn btn-danger">Delete</button> |
    <a asp-action="Index">Back to List</a>
</form>