@model WebApplication1.Models.CourseStudent

@{
    ViewData["Title"] = "Details CourseStudent";
}

<h1>CourseStudent Details</h1>
<hr />

<dl class="row">
    <dt class="col-sm-2">Degree</dt>
    <dd class="col-sm-10">@Html.DisplayFor(model => model.Degree)</dd>

    <dt class="col-sm-2">Course</dt>
    <dd class="col-sm-10">@Model.Course?.Name</dd>

    <dt class="col-sm-2">Student</dt>
    <dd class="col-sm-10">@Model.Student?.Name</dd>
</dl>

<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-primary">Edit</a>
    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
</div>